@inject PageStateContainerService _pageStateService
@implements IDisposable
<nav class="navbar navbar-expand fixed-top be-top-header">
    <div class="container-fluid">
        <div class="page-title"><span>@_pageStateService.Title</span></div>
    </div>
</nav>





