<div class="left-sidebar-wrapper">
    <a class="left-sidebar-toggle" href="#">Collapsible Sidebar</a>
    <div class="left-sidebar-spacer">
        <a class="left-sidebar-brand" href="index.html"><span>Beagle</span></a>
        <div class="left-sidebar-scroll">
            <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                    <li>
                        <a href="/"><i class="icon mdi mdi-view-dashboard"></i><span class="sidebar-element__text">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/transactions"><i class="icon mdi mdi-swap"></i><span class="sidebar-element__text">Transactions</span></a>
                    </li>
                    <li>
                        <a href="/spending"><i class="icon mdi mdi-money-box"></i><span class="sidebar-element__text">Spending Plan</span></a>
                    </li>
                    <li>
                        <a href="/upcoming"><i class="icon mdi mdi-calendar"></i><span class="sidebar-element__text">Bills &amp; Payments</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="icon mdi mdi-chart"></i><span class="sidebar-element__text">Reports</span></a>
                    </li>
                    <li>
                        <a href="/accounts"><i class="icon mdi mdi-balance"></i><span class="sidebar-element__text">Accounts</span></a>
                    </li>

@*                     <li class="parent">
                        <a href="#"><i class="icon mdi mdi-balance"></i><span class="sidebar-element__text">Accounts</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="ui-alerts.html">Account name</a>
                            </li>
                            <li>
                                <a href="ui-dragdrop.html"><span class="badge badge-primary float-right">New</span>Account 3</a>
                            </li>
                        </ul>
                    </li>
 *@                </ul>
            </div>
        </div>
    </div>
    <div class="">
        <ul class="sidebar-elements">
            <li>
                <a href="javascript:void(0);"><i class="icon mdi mdi-settings"></i><span class="sidebar-element__text">Settings</span></a>
            </li>
            <li>
                <a href="javascript:void(0);"><span class="sidebar-icon__group"><i class="icon mdi mdi-notifications"></i><span class="indicator"></span></span><span class="sidebar-element__text">Notifications</span></a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="icon mdi mdi-account-circle"></i><span class="sidebar-element__text">Profile</span></a>
            </li>
        </ul>
    </div>
</div>


