@*
    TODO: 
*@
@page "/t"
@page "/t/{AccountId?}"

@inject TransactionService transactionService
@inject NavigationManager navigationManager

<PageTitle>Transactions</PageTitle>

<h1>Transactions</h1>

@if (transactions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid">
        @if (!transactions.Any())
        {
            <div class="alert alert-warning" role="alert">
                There are no transactions for this account
            </div>
        }
        else
        {
            <div class="row mb-3">
                <div class="col">
                    Account: @accountNumber
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Current Balance: @currentBalance
                </div>
                <div class="col">
                    Available Balance: @availableBalance
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-start">Date</th>
                        <th class="text-center">Type</th>
                        <th class="text-start">Name</th>
                        <th class="text-end">Amount</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var row in transactions)
                {
                    <tr>
                        <td class="text-start">@row.PostedOn</td>
                        <td class="text-center">@row.Type</td>
                        <td class="text-start"><span class="">@row.Name</span></td>
                        <td class="text-end"><span class="">@row.Amount</span></td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
}

@code {
    private const string CURRENCYFORMAT = "#,##0.00";
    private const string DATEFORMAT = "MM/dd/yyy";

    private string? accountNumber;
    private IList<TransactionRow>? transactions;
    private string? currentBalance;
    private string? availableBalance;

    [Parameter]
    public string? AccountId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        int accountId = GetConvertedAccountId();

        if (accountId == 0)
        {
            this.transactions = new List<TransactionRow>();

            return;
        }

        FinancialStatement statement = await transactionService.GetStatementByAccountId(accountId);
        
        MapFinancialStatementToPage(statement);
    }

    private int GetConvertedAccountId()
    {
        int id;

        if (!string.IsNullOrWhiteSpace(this.AccountId) && int.TryParse(this.AccountId, out id))
        {
            return id;
        }

        return 0;
    }


    private void MapFinancialStatementToPage(FinancialStatement? statement)
    {
        if (statement != null )
        {
            if (statement.Transactions != null && statement.Transactions.Any())
            {
                this.transactions = statement.Transactions.Select(t => new TransactionRow(t)).ToList();
            }

            this.accountNumber = statement.AccountNumber;
            this.availableBalance = statement.AvailableBalance.Amount.ToString(CURRENCYFORMAT);
            this.currentBalance = statement.LedgerBalance.Amount.ToString(CURRENCYFORMAT);
        }
    }

    private class TransactionRow
    {
        public TransactionRow(Transaction transaction)
        {
            var typeSuffix = string.Empty;

            if(transaction.Type == "XFER")
            {
                if (transaction.Amount < 0)
                {
                    typeSuffix = " - Withdrawal";
                }
                else
                {
                    typeSuffix = " - Deposit";
                }
            }

            Type = transaction.Type + typeSuffix;
            PostedOn = transaction.PostedOn.ToString(DATEFORMAT);
            Amount = transaction.Amount.ToString(CURRENCYFORMAT);
            Name = transaction.Name;

        }

        public int Id { get; internal set; }

        public string Type { get; internal set; } = default!;

        //public DateTime PostedOn { get; set; }

        public string PostedOn { get; internal set; }

        public string Amount { get; internal set; }

        public string Name { get; internal set; } = default!;
    }

    private class StatementPage
    {
        public string AccountNumber { get; set; } = default!;

        public IList<TransactionRow> Transactions { get; set; } = new List<TransactionRow>();
        
        public string LedgerBalanceForDisplay { get; set; } = default!;
        
        public string AvailableBalanceForDisplay { get; set; } = default!;
    }

}
