@page "/upcoming"

@using Mayflower.Core.Infrastructure.Queries;
@using Mayflower.Core.Infrastructure.Queries.Reminders;
@using Mayflower.Core.Infrastructure.Interfaces.Queries;
@using Mayflower.Core.Extensions;
@using Mayflower.Web.NotificationServices;

@inject IQueryProcessor _queries
@inject NavigationManager _navigationManager
@inject HeaderChangeNotificationService _headerChangeNotificationService

<PageTitle>Bills &amp; Payments</PageTitle>
<header class="d-flex mb-3">
    <div class="flex-fill text-start align-middle"></div>
    <div class="flex-fill text-end align-middle">
        <Dropdown>
            <DropdownToggleButton Color="ButtonColor.Primary" Size="Size.ExtraLarge">Add</DropdownToggleButton>
            <DropdownMenu>
                <DropdownItem To="#" Type="ButtonType.Link">Bill</DropdownItem>
                <DropdownItem To="#" Type="ButtonType.Link">Income</DropdownItem>
                <DropdownItem To="#" Type="ButtonType.Link">Transfer</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </div>
</header>
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <select @onchange="HandleDayRangeChange" class="form-select">
                            <option value="30">Next 30 days</option>
                            <option value="60">Next 60 days</option>
                            <option value="90">Next 90 days</option>
                            <option value="120">Next 120 days</option>
                        </select>
                    </div>
                </div>
            </header>
            <div class="card-body">
                <div class="card mb-5">
                    <div class="card-body">

                    </div>
                </div>
                <UpcomingReminderOccurrences RangeInDays="@_rangeInDays" />
            </div>
        </div>
    </div>

</div>





